<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
<servers>
<server>
<username>dreamervineet@gmail.com</username>
<password>${secret.ARTIFCATORY_PASSWORD}</password>
<id>central</id>
</server>
<server>
<username>dreamervineet@gmail.com</username>
<password>${secret.ARTIFCATORY_PASSWORD}</password>
<id>snapshots</id>
</server>
</servers>
<profiles>
<profile>
<repositories>
<repository>
<snapshots>
<enabled>false</enabled>
</snapshots>
<id>central</id>
<name>mvn-project-libs-snapshot</name>
<url>https://testcicdvineet.jfrog.io/artifactory/mvn-project-libs-snapshot</url>
</repository>
<repository>
<snapshots/>
<id>snapshots</id>
<name>mvn-project-libs-release</name>
<url>https://testcicdvineet.jfrog.io/artifactory/mvn-project-libs-release</url>
</repository>
</repositories>
<pluginRepositories>
<pluginRepository>
<snapshots>
<enabled>false</enabled>
</snapshots>
<id>central</id>
<name>mvn-project-libs-snapshot</name>
<url>https://testcicdvineet.jfrog.io/artifactory/mvn-project-libs-snapshot</url>
</pluginRepository>
<pluginRepository>
<snapshots/>
<id>snapshots</id>
<name>mvn-project-libs-release</name>
<url>https://testcicdvineet.jfrog.io/artifactory/mvn-project-libs-release</url>
</pluginRepository>
</pluginRepositories>
<id>artifactory</id>
</profile>
</profiles>
<activeProfiles>
<activeProfile>artifactory</activeProfile>
</activeProfiles>
</settings>
